*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.products{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.filters{
    margin-top: 2vw;
    margin-left: 10vw;
    display: flex;
    justify-content: flex-start;

}
.paginator{
    margin-top: .5vw;
    margin-bottom: 1vw;
    margin-right: 8vw;
    display: flex;
    justify-content: flex-end; 
}
.paginationBtns{
  width:15vw;
  height: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBtns a{
   padding: .3vw;
   margin: .4vw;
   border-radius: .3vw;
   border: 1px solid linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
   color:rgb(10, 186, 250);
   cursor: pointer;
   font-size: larger;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paginationBtns a:hover{
   color: white;
   background-color:rgb(10, 210, 250) ;
}

.paginationActive a {
    color: white;
    background-color: #191cdd;
}