*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.coverImage{
    width: 100vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.coverImage h1{
    position: absolute;
    top:2vw;
    left:2vw;
    color: rgb(74, 8, 80);
    font-size: 4vw;
    font-family: monospace;
}