*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.hoverCoins{
	height: 10vw;
	margin-top: 1vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgb(241, 241, 244);
	font-size: 2.5vw;
}
.hoverCoins img{
	width: 3vw;
	margin-top: .4vw;
}
.shopButton{
	background-color: transparent;
    border: 3px solid #999;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgb(0, 170, 255) 50%, transparent 50%);
    background-size: 300%;
    background-position: 100%;
    transition: all 0.5s ease;
	color: rgb(23, 28, 28);
	font-size: 1vw;
	margin-bottom: 6wv;
}
.shopButton:hover{
	background-position: 0;
    color: #fff;
}
