*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal {
    position: fixed;
    top: 20%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10vw;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .modal-container {
    background-color: white;
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 1px 10px rgb(25, 91, 5);
    min-height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgb(29, 223, 158);
  }
  .modal-title {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  .modal-content {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .modal-footer {
    padding: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
  }
  .modal-close {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top: 0.2rem;
    right: 1rem;
    cursor: pointer;
  }
  