*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
    margin-top: .5vw;
    margin-bottom: .5vw;
    min-width: 300px;
}
.points{
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}
.points p{
    min-width: 150px;
    font-size: 20px;
    margin-top: 5px;
    font-family:monospace;
    margin-top: .45vw;
}
.name{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    background-color: rgb(222, 216, 216);
    border-radius: .45vw;
}
.name p{
    min-width: 80px;
    font-size: 20px;
    margin-top: .45vw;
    font-family: monospace;
}
.links{
    display: flex;
    flex-direction: row;
}
.links li{
    font-size: 20px;
    margin-right: 1vw;
    margin-top:.45vw;
    font-family: monospace;
    list-style:none;
    color: rgb(10, 210, 250);
    text-decoration: underline;
}
.links li:hover{
    font-style: italic;
    color: rgb(54, 7, 72);
}
.coin{
    margin-left: 5px;
}
@media screen and (max-width:600px) and (min-width:250px) {
    .navBar{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-top: .5vw;
        margin-bottom: .5vw; 
    }
}